@{
    ViewData["Title"] = "Home Page";
}



<div style="height: 20em; overflow: hidden; display: inline-block">
 <img src="img\viber_image_2022-04-08_15-21-05-423.png" title="slika" style="width:20%; ">

    <form asp-controller="Knjiga" asp-action="Index" method="get" style="display: inline-block; margin-left:550px; font-family:Arial">
    <p>
         <input type="text" placeholder="Inspire your soul..."  name="id" />
        <input type="submit" value="Search" />
    </p>
</form>
</div>

<div>

</div>